* {
    font-family: Arial;
}


.top-nav {
    background: lightblue;
    position: absolute;
    top: 0px;
    width: 100%;
    text-align: center;
}

.sign-in {
    position: absolute;
    top: 150px;
    width: 100%;
    text-align: center;
}

.create-user {
    position: absolute;
    top: 400px;
    width: 100%;
    text-align: center;
}