<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Wish List</title>
</head>
<body>
<h1 th:text=" 'Hello ' + ${session.user.userName}"></h1>

<div class="list-container">
    <h3 th:if="${session.list != null}">Din ønskeliste</h3>
    <table>
        <tr th:each="gift:${session.list}">
            <td th:text="${gift.giftName}">Gave</td>
            <td th:text="${gift.price}">Pris</td>
            <td th:text="${gift.url}">Link</td>
            <td th:text="${gift.description}">Link</td>

        </tr>
    </table>
</div>


<section>
    <h3>Opret gave til din ønskeliste</h3>
    <form name="add/gift" action="/addgift" method="POST">
        Navn:<br>
        <input type="text" name="name">
        <br>
        Beskrivelse:<br>
        <input type="text" name="description">
        <br>
        Pris:<br>
        <input type="text" name="price">
        <br>
        Link<br>
        <input type="text" name="url">
        <br>
        <br>
        <input type="submit" value="Opret ønske">
    </form>


</section>
</body>
</html>