<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Wish List</title>
</head>
<body>
<h1 th:text=" 'Hej ' + ${session.user.userName}"></h1>

<div class="list-container" th:unless="${session.list == null}">
    <h2>Din ønskeliste</h2>
    <table>
        <tr>
            <th>Gave</th>
            <th>Beskrivelse</th>
            <th>Pris</th>
            <th>Link</th>
        </tr>
        <tr th:each="gift:${session.list}">
            <td th:text="${gift.giftName}">Gave</td>
            <td th:text="${gift.description}">Description</td>
            <td th:text="${gift.price}">Pris</td>
            <td th:text="${gift.url}">Link</td>
        </tr>
    </table>
    <br>
    <form name="get-link" action="/get-link" method="POST">
        <input type="submit" value="Del din ønkeliste">
    </form>
    <br>
    <span th:unless="${session.link == null}">
<a th:href="${session.link}" target="_blank" th:text="${session.link}"></a>
</span>
</div>

<section>
    <h3>Opret gave til din ønskeliste</h3>
    <form name="add/gift" action="/addgift" method="POST">
        Navn:<br>
        <input type="text" name="name">
        <br>
        Beskrivelse:<br>
        <input type="text" name="description">
        <br>
        Pris:<br>
        <input type="text" name="price">
        <br>
        Link<br>
        <input type="text" name="url">
        <br>
        <br>
        <input type="submit" value="Opret ønske">
    </form>


</section>
</body>
</html>